Source: switchboard-plug-template
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libpantheon-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/pantheon-plugs

Package: switchboard-plug-template
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: switchboard
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: switchboard-plug-template-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-template (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-template
Description: <insert up to 60 chars description> (debugging symbols)
 <insert long description, indented with spaces>
 .
 This package contains debugging symbols for switchboard-plug-template.
