Source: io.elementary.settings.keyboard
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgnomekbd-dev,
               libgranite-7-dev (>= 7.4.0),
               libgtk-4-dev,
               libadwaita-1-dev,
               libibus-1.0-dev,
               libswitchboard-3-dev,
               libxklavier-dev,
               libxml2-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-keyboard

Package: io.elementary.settings.keyboard
Architecture: any
Depends: gala (>= 8.0.0),
         ibus,
         xkb-data,
         onboard,
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: io.elementary.settings
Description: Settings plugin for keyboard settings
 This plug can be used to change several keyboard settings, for example the
 delay and speed of the key repetition, or the cursor blinking speed. You can
 change your keyboard layout, and use multiple layouts at the same time.
 Keyboard shortcuts are also part of this plug.
